@model SystemWebDorms.ViewModels.VM_Register_Front

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout_Account_Front";
}


<div class="container">

    <img class="wave" src="~/WebImages/images/img/wave.png" />
    <div class="container">
        <div class="img">
            <!-- <body>Welcome to the University of Jordan dorms System portal</body> -->
            <img src="~/WebImages/images/img/jordan.png" />
        </div>
        <div class="login-content">
            <!-- End Logo -->
            <div class="card mb-3">

                <div class="card-body">

                    <!--<div class="pt-4 pb-2">
        <h5 class="card-title text-center pb-0 fs-4">Create New Account</h5>-->
                    @*<p class="text-center small">Enter your username & password to login</p>*@
                    <!--</div>-->
                    <form class="row g-3 needs-validation " asp-action="Register">


                        <img src="~/WebImages/images/img/beauty.png" />
                        <p class="title">
                            Welcome to the University of Jordan dorms System portal
                        </p>
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>

                            <div class="form-group">
                                @*<label asp-for="Email" class="control-label"></label>*@
                                <input asp-for="Email" class="form-control" placeholder="Username" />
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>


                        <div class="input-div pass">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>

                            <div class="form-group">
                                @*<label asp-for="Password" class="control-label"></label>*@
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>


                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-lock"></i>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="ConfirmPassword" class="control-label"></label>*@
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                </div>
            </div>
        </div>
    </div>
</div>

  

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
