@model SystemWebDorms.Areas.Admin.ViewModels.VM_TransInternationalDormDoubleRoomSister

@{
    ViewData["Title"] = "Edit";
}

<div class="pagetitle">
    <h1>International Dorm Double Room Sister</h1>
    <hr />
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TransInternationalDormDoubleRoomSister">Manage International Dorm Double Room Sister</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<hr />
<section class="section">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div class="row">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="TransInternationalDormDoubleRoomSisterId"/>
                            <div class="form-group row mb-3 col-md-12">
                                <label asp-for="MasterDormId" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    @*<select asp-for="MasterDormId" class ="form-control" asp-items="ViewBag.MasterDormId"></select>*@
                                    <select asp-for="MasterDormId"
                                            asp-items="@(new SelectList(Model.ListMasterDorm,"MasterDormId","MasterDormName"))"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransJarashDormDoubleRoomSistersTitle" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransJarashDormDoubleRoomSistersTitle" class="form-control" />
                                    <span asp-validation-for="TransJarashDormDoubleRoomSistersTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransJerashDormDoubleRoomSistersBrief" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransJerashDormDoubleRoomSistersBrief" class="form-control" />
                                    <span asp-validation-for="TransJerashDormDoubleRoomSistersBrief" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransJerashDormDoubleRoomSistersLinkUrl" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransJerashDormDoubleRoomSistersLinkUrl" class="form-control" />
                                    <span asp-validation-for="TransJerashDormDoubleRoomSistersLinkUrl" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransJerashDormDoubleRoomSistersImage" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="File_Jerash" class="form-control" required />
                                    <input type="hidden" asp-for="TransJerashDormDoubleRoomSistersImage" class="form-control" />
                                    <img src="~/WebImages/TransInternationalDormDoubleRoomSister/@Model.TransJerashDormDoubleRoomSistersImage  " style="max-width:70px" />
                                    <span asp-validation-for="File_Jerash" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransAmmonDormDoubleRoomSistersTitle" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransAmmonDormDoubleRoomSistersTitle" class="form-control" />
                                    <span asp-validation-for="TransAmmonDormDoubleRoomSistersTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransAmmonDormDoubleRoomSistersBrief" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransAmmonDormDoubleRoomSistersBrief" class="form-control" />
                                    <span asp-validation-for="TransAmmonDormDoubleRoomSistersBrief" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransAmmonDormDoubleRoomSistersLinkUrl" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="TransAmmonDormDoubleRoomSistersLinkUrl" class="form-control" />
                                    <span asp-validation-for="TransAmmonDormDoubleRoomSistersLinkUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3 col-md-6">
                                <label asp-for="TransAmmonDormDoubleRoomSistersImage" class="col-sm-3 col-form-label bold"></label>
                                <div class="col-sm-9">
                                    <input asp-for="File_Ammon" class="form-control"  />
                                    <input type="hidden" asp-for="TransAmmonDormDoubleRoomSistersImage" class="form-control" />
                                    <img src="~/WebImages/TransInternationalDormDoubleRoomSister/@Model.TransAmmonDormDoubleRoomSistersImage  " style="max-width:70px" />
                                    <span asp-validation-for="File_Ammon" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group " style="direction:rtl;">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a asp-action="Index" class="btn btn-primary">Back to List</a>

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}